<!DOCTYPE html>
<html>

<head>
	<title>Student</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://cdn.tailwindcss.com"></script>
	<script>
		function selectTask(uuid) {
			fetch(`/api/select/`, {
				method: 'POST',
			})
				.then(response => {
					if (response.status == 204) {
						window.location.href = `/student/${uuid}`
					}
				})
		}
		function ask() {
			fetch(`/api/ask/`, {
				method: 'POST',
			})
				.then(response => {
					if (response.status == 204) {
						window.location.reload()
					}
				})
		}
		function logout() {
			fetch(`/api/slogout/`, {
				method: 'POST',
			})
				.then(response => {
					if (response.status == 204) {
						window.location.reload()
					}
				})
		}
	</script>
</head>

<body class="py-24 flex flex-col justify-start items-center w-screen h-screen overflow-y-auto">
	<div class="flex mb-24 items-center justify-evenly w-full md:w-[80%]">
		<svg onclick="logout()" class="w-16 border rounded-xl cursor-pointer hover:bg-gray-100" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M868 732h-70.3c-4.8 0-9.3 2.1-12.3 5.8-7 8.5-14.5 16.7-22.4 24.5a353.84 353.84 0 0 1-112.7 75.9A352.8 352.8 0 0 1 512.4 866c-47.9 0-94.3-9.4-137.9-27.8a353.84 353.84 0 0 1-112.7-75.9 353.28 353.28 0 0 1-76-112.5C167.3 606.2 158 559.9 158 512s9.4-94.2 27.8-137.8c17.8-42.1 43.4-80 76-112.5s70.5-58.1 112.7-75.9c43.6-18.4 90-27.8 137.9-27.8 47.9 0 94.3 9.3 137.9 27.8 42.2 17.8 80.1 43.4 112.7 75.9 7.9 7.9 15.3 16.1 22.4 24.5 3 3.7 7.6 5.8 12.3 5.8H868c6.3 0 10.2-7 6.7-12.3C798 160.5 663.8 81.6 511.3 82 271.7 82.6 79.6 277.1 82 516.4 84.4 751.9 276.2 942 512.4 942c152.1 0 285.7-78.8 362.3-197.7 3.4-5.3-.4-12.3-6.7-12.3zm88.9-226.3L815 393.7c-5.3-4.2-13-.4-13 6.3v76H488c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h314v76c0 6.7 7.8 10.5 13 6.3l141.9-112a8 8 0 0 0 0-12.6z" />
		</svg>
		<h1 class="text-5xl font-bold">Units</h1>
		<svg onclick="ask()" class="w-16 border rounded-xl cursor-pointer hover:bg-gray-100" fill="none" stroke-width="2"
			viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M7.90039 8.07954C7.90039 3.30678 15.4004 3.30682 15.4004 8.07955C15.4004 11.4886 11.9913 10.8067 11.9913 14.8976"
				stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
			<path d="M12 19.01L12.01 18.9989" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
		</svg>
	</div>
	<div class="flex flex-col justify-start items-center w-full">
		{% for unit, delivered_titles in unit_titles.items %}
		<div
			class="flex flex-col items-center justify-start rounded text-xl font-bold w-[80%] lg:w-[30%] md:w-[50%] h-full mb-10 p-5 overflow-y-none {% if delivered_titles.1 %}bg-green-300{% else %}bg-gray-300{% endif %}">
			<h2 class="text-2xl">Unit {{ unit }}</h2>
			{% for title in delivered_titles.0 %}
			{% if title.2 %}
			<div onclick="selectTask('{{ title.1 }}')"
				class="flex w-full h-22 bg-green-300 my-3 border border-gray-400 p-3 hover hover:bg-green-400 cursor-pointer rounded">
				<h2>{{ title.0 }}</h2>
			</div>
			{% else %}
			<div onclick="selectTask('{{ title.1 }}')"
				class="flex w-full h-22 my-3 border border-gray-400 p-3 hover hover:bg-gray-400 cursor-pointer rounded">
				<h2>{{ title.0 }}</h2>
			</div>
			{% endif %}

			{% endfor %}
		</div>
		{% endfor %}
	</div>
</body>

</html>